:root {
  font-family: 'Poppins', sans-serif;  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #000000;
  --secondary: #272727;
  --terceary: #4f4f4f;
  --claro: #767676;
  --soft-white: #f1f1f1;
  --white: #fefefe;
  --black: #111;
  --gray: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}